body{
    display: grid;
    min-height: 100%;
    /* height: auto; */
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.les-main-hdr{
    grid-area: 1/1/1/4;
    background-color: #0e5d91;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}
.words-cont{
    width: 80%;
}
.words-tables{
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    margin: 2rem auto;
    color: white;
    border-collapse: collapse;
    /* border: 2px solid #133654; */

}
td {
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 1rem;
    font-style: italic;
    width: 50%;
    font-size: 1.5rem;
}
.words-separator{
    background-color: white;
}
.exer-cont{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exersizes{
    display: grid;
    grid-template: fit-content(100%)  fit-content(100%) / 2fr 3fr 3fr;
    text-align: center;
    width: 80%;
    margin: 1rem;
}

.ex-bt{
    background-color: #059bff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem;
    cursor: pointer;
}
.test-bt{
    grid-area: 3/1/3/4;
}
.level{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.level img{
    width: 350px;
    padding: 1rem;
}
@media screen and (max-width:600px) {
    .ex-bt p{
        font-size: 1rem;
    }
    .exersizes{
        grid-template: 1fr 1fr / 1fr 1fr;
    }
    .ex-bt:nth-child(3){
        grid-area: 2/1;
    }
    .test-bt{
        grid-area: 2/2;
    }
    .level img{
        width: 200px;
    }
    .les-main-hdr p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px) {
    .exersizes{
        grid-template: 1fr 1fr 1fr 1fr /1fr;
    }
    .ex-bt:nth-child(3){
        grid-area: 3/1;
    }
    .test-bt{
        grid-area: 4/1;
    }
}
@media screen and (max-width: 650px) {
    .words-tables{
        flex-direction: column;
    }
    table{
        margin: 0.5rem auto;
        /* width: 80%; */
    }
}

/* ГЛАВЫ И УРОКИ */
.chapters, .levels{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.progress-item{
    background-color: #0e5d91;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
    width: 90%;
}
.progress-item:hover{
    cursor: pointer;
}
.chapter:nth-child(-n+3){
    background-color: green;
}
.lesson:nth-child(-n+5){
    background-color: green;
}
.chapter:nth-child(4){
    background-color: #059bff;
}
.lesson:nth-child(6){
    background-color: #059bff;
}

@media screen and (min-width: 320px) {
    /*GRID*/
    body{
        grid-template: 60px 1fr fit-content(100%) fit-content(100%) / 1fr 1fr;
    }
    #head{
        grid-area: 1 / 1 / 1 / 3;
    }
    .main{
        grid-area: 2 /1/2/3;
    }
    .levels{
        grid-area: 3/2;
        margin-bottom: 1rem;
    }
    .chapters{
        grid-area: 3/1;
    }
    .footer{
        grid-area: 4/1/4/3;
    }

}

@media screen and (min-width: 1050px) {
    /*GRID*/
    body{
        grid-template: 60px 1fr fit-content(100%) / 1fr 3fr 1fr;
    }
    #head{
        grid-area: 1 / 1 / 1 / 4;
    }
    .main{
        grid-area: 2 /2;
    }
    .footer{
        grid-area: 3/1/3/4;
    }
    .chapters{
        grid-area: 2/1;
    }
    .levels{
        grid-area: 2/3;
    }
}
@media screen and (min-width: 1500px) {
    .progress-item{
        width: 60%;
    }
}
@media screen and (min-width: 1800px) {
    .exersizes{
        width: 60%;
    }
}