html, body {
    margin: 0;
    height: 100%;
}
body{
    background-color: #133654;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-areas: "about" "contact" "footer"; */
    grid-template-rows: 1fr 1fr .5fr;
    height: 100%;
}
.about{
    margin-top: calc(60px + 5vh);
    grid-area: 1/1;
}
.about h2{
    text-align: center;
}
.about p{
    text-align: justify;
}
@media screen and (min-width: 1400px) {
    .about p{
        margin: auto 2rem;
    }
}

/*Форма*/
.contact-sect{
    margin: 1rem;
    display: flex;
    justify-content: center;
    grid-area: 2/1;
}
.contact{
    background-color: rgb(25, 48, 81);
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    flex: 1;
    height: fit-content;
}
.contact-block{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:20px;
    padding: 0 10px;
}
.cont-col-span-2{
    grid-column: span 2;
}
.contact-text{
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(131, 169, 224);
    margin: 1rem;
    font-size: 1.2rem;
}

.contact input{
    width: 100%;
    border: 0;
    background-color: rgb(26, 56, 108);
    border-bottom: 2px solid #0b419b;
    padding-top: 4% ;
    padding-left: 5px;
    font-size: 18px;
    color: #FFF;
}

.contact input:hover,
.contact input:focus{
    background-color: #0b419b;
}
.contact-field{
    position: relative;
}
.contact-field label{
    position: absolute;
    top: 10%;
    left: 5px;
    color: #11b6f1;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}
.contact-field input:focus + label,
.contact-field input:not(:placeholder-shown)+label{
    opacity: .85;
    transform: scale(.85) translateY(-.4rem) translateX(-.15rem);
}
.contact a{
    margin: 10px 20px;
    display: block;
    width: max-content;
    background-color: #0b419b;
    padding: 10px;
    color: #FFF;
    border-radius:50px;
    transition: all .2s;
    text-decoration: none;
}

.contact a:hover{
    transform: scale(1.05);
}
input[type="submit"]{
    width: 30vw;
    min-width: fit-content;
    max-width: 200px;
    height: fit-content;
    padding: .5rem;
    margin: .7rem;
    border: 1px solid;
    background-color: rgb(26, 56, 108);
    border-radius: 25px;
    color: rgb(131, 169, 224);
    font-weight: 500;
    cursor: pointer;
    outline: none;

}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .2s;   
}
@media (max-width: 712px) {
    .contact-block{
        grid-template-columns:auto;
    }
    .contact-field{
        grid-column: span 1;
    }
}
.footer{
    grid-area: 3/1;
    /* height: 100%; */
}