html, body {
    margin: 0;
    height: 100%;
}
body{
    background-color: #133654;
    display: grid;
    grid-template-columns: fit-content();
    grid-template-areas: "main" "footer";
    grid-template-rows: fit-content() fit-content();
}

/* Колокольчик */
.bell-container{
    position: absolute;
    height: 80%;
    right: 15px;
    top: 10%;
    z-index: 2;
    width: 200px;
}

.bell{
    max-height: 100%;
    position: absolute;
    right: 20px;
    border-radius: 50%;
}

.bell-digit{
    position: absolute;
    height: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    right: 28px;
    top: 15%;
    font-size: 0.8rem;
    color: #133654;
    font-weight: bold;
    z-index: 1;
}

.bell-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(98%);
    /*для развертывания*/
    max-height: 0;
    overflow: hidden;
    /*    Если выходит за рамки (а он выходит т к высота 0) то hidden*/
    transition: .8s all;
    /*    Плавность*/
}
.close-notif-bt{
    position: absolute;
    top: 3px;
    right: 3px;
    aspect-ratio: 1/1;
    height: 15px;
    border-radius: 50%;
    font-size: 0.7rem;
    color: white;
}

.bell-item{
    display: block;
    width: 70%;
    padding: 20px 10px;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, .3);
    background-color: #151a2e;
    font-weight: bold;
    margin: auto;
    transition: .3s;
    position: relative;
}

.bell:hover{
    cursor: pointer;
    background-color: #0e5d91;
}

.bell:hover ~ .bell-menu, .bell-menu:hover{
    overflow-y: scroll;
    padding-right: 10px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bell:hover ~ .bell-menu::-webkit-scrollbar,
.bell-menu:hover::-webkit-scrollbar{
    display: none;
}


.bell-item:hover{
    background-color: #0e5d91;
    scale: 1.2;
    border-radius: 10px;
    cursor: pointer;
}

.bell-item.active{
    transform: translateX(calc(100% + 10rem));
}

.bell-item:last-of-type{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media screen and (max-width: 750px){
    .bell-container{
        right: 65px;
    }
}

/* секция фото+инфо*/

.info{
    margin-top: 60px;
    position: relative;
    padding: 2rem;
    grid-area: main;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.les-main-hdr{
    grid-area: 1/1/1/4;
    background-color: #0e5d91;
    text-align: center;
    width: 80%;
    border-radius: 15px;
    margin-top: 10px;
}
.level, .main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.level img{
    width: 350px;
    padding: 1rem;
}
.main-info-items{
    margin-top: 1rem;
    display: flex;
    margin-left: 10%;
}
.main-info .main-info-items{
    align-self:flex-start;
}
.div_photo{
    aspect-ratio: 1/1;
    border: solid 2px white;
    border-radius: 50%;
    margin-right: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.div_photo img {
    max-width: 80%;
}
.footer{
    grid-area: footer;
}


@media screen and (max-width: 1000px) {

    .level img{
        width: 250px;
    }
    .info{
        grid-template:  1fr / 1fr;
    }
    .div_photo{
        width: 200px;
    }
}
@media screen and (max-width: 600px) {
    .main-info-items{
        flex-direction: column;
        align-items: center;
    }
    .div_photo{
        width: 150px;
    }
    .level img{
        width: 200px;
    }
    .info-text p{
        font-size: 1.3rem;
    }
}